* {
  margin: 0;
  padding: 0;
}
.main_food {
  height: 220px;
  background-image: url("/public/food.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_div {
  display: flex;
  justify-content: space-around;
  background-color: crimson;
  align-items: center;
  height: 50px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main_div_left {
  color: white;
  font-size: large;
  line-height: normal;
}
.main_div_right {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 20px;
  width: 200px;
  padding: 1px 18px 1px 18px;
  background-color: rgb(86, 3, 3);
}
.icon {
  width: 24px;
  height: 24px;
  background-image: url("/public/cart.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 5px;
}

.count {
  display: flex;
  background-color: crimson;
  font-weight: bold;
  font-size: 0.8rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
